.about {
    background: rgba(255, 255, 255, 0.95);
    padding-bottom: 72px;
    padding-top: 56px;
    &__wrapper {
        margin-top: 43px;
        display: flex;
        justify-content: space-between;
        
    }
    &__elem {
        padding:58px 46px 44px;
        width: 625px;
        background: rgba(255, 255, 255, 0.95);
        border: 1px solid #F8EBEB;
        box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
        backdrop-filter: blur(12px);
        border-radius: 22px;
    }
    &__subtitle {
        // min-height: 56px;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #45515F;

    }
    &__description {
        margin-top: 31px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #536473;
    }
}