button {
    width: 273px;
    height: 64px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    border:none;
    background: #FF7B00;
    cursor: pointer;
}