.get {
    // padding-top: 51px;
    padding-bottom: 45px;
    background: #F6F9FC;
    &__border {
        border: 1px solid rgba(69, 81, 95, 0.05);
    }
    &__title {
        padding-top: 45px;
        line-height: 33px;
    }
    &__wrapper {
        margin-top: 68px;
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    &__line {
        margin-top: 30px;
        width: 100%;
        &-1 {
            position: relative;
            width: 100%;
            height: 7px;
            background: #FFFFFF;
            border-radius: 8px;
            &::before {
                content: "1";
                z-index:10;
                display: flex;
                align-items:center;
                justify-content: center;
                width: 34px;
                height: 34px;
                color: #FFFFFF;
                font-weight: 500;
                font-size: 16px;
                background: #FFFFFF;
                background: #FFA147;
                border-radius: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size:cover;
                position: absolute;
                left: 140px;
                top: 50%;
                transform: translate(0, -50%);
            }
            &::after {
                content: "2";
                z-index:10;
                display: flex;
                align-items:center;
                justify-content: center;
                width: 34px;
                height: 34px;
                color: #D6D3D3;
                font-weight: 500;
                font-size: 16px;
                background: #FFFFFF;
                border-radius: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size:cover;
                position: absolute;
                left: 462px;
                top: 50%;
                transform: translate(0, -50%);
            }   
        }
        &-2 {
            position: relative;
            width: 100%;
            height: 7px;
            top:-7px;
            // left: 482px;
            background: #FFFFFF;
            border-radius: 8px;
            &::before {
                content: "3";
                display: flex;
                align-items:center;
                justify-content: center;
                width: 34px;
                height: 34px;
                color: #D6D3D3;
                font-weight: 500;
                font-size: 16px;
                background: #FFFFFF;
                border-radius: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size:cover;
                position: absolute;
                left: 784px;
                top: 50%;
                transform: translate(0, -50%);
            }
            &::after {
                content: "4";
                display: flex;
                align-items:center;
                justify-content: center;
                width: 34px;
                height: 34px;
                background: #FFFFFF;
                color: #D6D3D3;
                font-weight: 500;
                font-size: 16px;
                border-radius: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size:cover;
                position: absolute;
                left: 1106px;
                top: 50%;
                transform: translate(0, -50%);
            }   

        }
        &-3 {
            position: relative;
            width: 170px;
            height: 7px;
            top:-14px;
            background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF9F47 73.78%);
            border-radius: 8px; 
        }
    }
    &__texts {
        padding-left:50px;
        padding-right: 40px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 196px 150px 244px 258px;
        gap: 126px;
        // justify-content: space-between;
        align-items:center;
        &-text {
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            color: #45515F;
           
        }
    }
    &__button {
        background: url("../img/get/get-button.png");
        display: block;
        margin:0 auto;
        margin-top: 44px;
        
    }

}