.get {
    // padding-top: 51px;
    padding-bottom: 45px;
    background: #F6F9FC;
    &__border {
        border: 1px solid rgba(69, 81, 95, 0.05);
    }
    &__title {
        padding-top: 45px;
    }
    &__wrapper {
        margin-top: 63px;
        display: flex;
        justify-content: space-around;
        // align-items:center;
        &-elem {
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    &__line {
        margin-top: 20px;
        // background: #FFFFFF;
        // border-radius: 8px;
        // height: 7px;
    }
    &__texts {
        padding-left:50px;
        padding-right: 40px;
        margin-top: 15px;
        display: grid;
        grid-template-columns: 196px 150px 244px 258px;
        gap: 135px;
        // justify-content: space-between;
        align-items:center;
        &-text {
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            color: #45515F;
           
        }
    }
    &__button {
        background: url("../img/get/get-button.png");
        display: block;
        margin:0 auto;
        margin-top: 44px;
        
    }

}