@media (max-width: 1280px) {
    .container {
        width: 768px;
        margin: 0 auto;
    }
        .header,.emply,.hot__button {
        display: none;
        }

    html,body{
        // overflow-x: hidden;
        }

    .hot {
        position: relative;
        background:url("../img/media/hot-bg-768-min.png");
        background-size:cover;
        padding-top: 29px;
        padding-bottom: 21px;
        background-position: left;
        &__img {
             margin-right: 0px;
        }
        &__up {
            flex-wrap: wrap;
            gap: 48px;
            ul {
                flex-wrap: wrap;
                width: 332px; 
                li {
                    font-size: 14px; 
                } 
            }
        }
        &__button-768 {
            display: block;
            // padding:17px 27px;
            margin-left: 0px;
            width: 176px;
            height: 50px;
            text-align: center;
            
        }
        &__wrapper {
            padding-top: 44px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: normal;
        }
        &__offers {
            width: 100%;
            margin-top: -4px;
        }
        &__title {
            text-align: center;
            margin-top: 25px;
            font-weight: 600;
            font-size: 40px;
        }
        &__subtitle {
            margin: 0 auto;
            text-align: center;
        }
        &__description {
            margin-top: 5px;
            text-align: center;
            font-size: 27px;
        }
        &__attention {
            width: 100%;
            margin-top: 10px;
            text-align: center;
        }
        &__money {
            margin-top: 37px;
            width: 428px;
            margin-left: 340px;
            padding: 29px 19px 36px 28px;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.05);
            border-radius: 15px;
            z-index: 2;
        }
        &__media992 {
            display: none;
        }    
    }
    .best {
        padding-top: 50px;
        padding-bottom: 69px;
        &__title {
            margin-top: 0px;
    
        }
        &__wrapper {
            padding-top: 35px;
            flex-direction: column;
            gap: 15px;
            align-items:center;
        }
        &__note {
            margin-top: 35px;
            
        }
        
    }
    .get {
        // padding-top: 51px;
        padding-bottom: 45px;
        background: #F6F9FC;
        &__border {
            display: none;
        }
        &__title {
            padding-top: 0px;
        } 
        &__wrapper {
            margin-top: 38px;
            display: flex;
            justify-content: space-around;
            align-items:center;
        }
        &__line {
            margin-top: 43px;
            width: 100%;
            &-1 {
                position: relative;
                width: 100%;
                height: 7px;
                background: #FFFFFF;
                border-radius: 8px;
                &::before {
                    content: "1";
                    z-index:10;
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    width: 34px;
                    height: 34px;
                    color: #FFFFFF;
                    font-weight: 500;
                    font-size: 16px;
                    background: #FFFFFF;
                    background: #FFA147;
                    border-radius: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size:cover;
                    position: absolute;
                    left: 53px;
                    top: 50%;
                    transform: translate(0, -50%);
                }
                &::after {
                    content: "2";
                    z-index:10;
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    width: 34px;
                    height: 34px;
                    color: #D6D3D3;
                    font-weight: 500;
                    font-size: 16px;
                    background: #FFFFFF;
                    border-radius: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size:cover;
                    position: absolute;
                    left: 240px;
                    top: 50%;
                    transform: translate(0, -50%);
                }   
            }
            &-2 {
                position: relative;
                width: 100%;
                height: 7px;
                top:-7px;
                // left: 482px;
                background: #FFFFFF;
                border-radius: 8px;
                &::before {
                    content: "3";
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    width: 34px;
                    height: 34px;
                    color: #D6D3D3;
                    font-weight: 500;
                    font-size: 16px;
                    background: #FFFFFF;
                    border-radius: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size:cover;
                    position: absolute;
                    left: 462px;
                    top: 50%;
                    transform: translate(0, -50%);
                }
                &::after {
                    content: "4";
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    width: 34px;
                    height: 34px;
                    background: #FFFFFF;
                    color: #D6D3D3;
                    font-weight: 500;
                    font-size: 16px;
                    border-radius: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size:cover;
                    position: absolute;
                    left: 675px;
                    top: 50%;
                    transform: translate(0, -50%);
                }   
    
            }
            &-3 {
                position: relative;
                width: 74px;
                height: 7px;
                top:-14px;
                background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF9F47 73.78%);
                border-radius: 8px; 
            }
        }
        &__texts {
            padding-left:0px;
            // padding-right: 40px;
            margin-top: 13px;
            display: grid;
            grid-template-columns: 147px 155px 221px 170px;
            // justify-content: space-between;
            // grid-template-columns: 196px 150px 244px 258px;
            gap: 27px;
            align-self: center;
            // justify-content: space-between;
            align-items:center;
            &-text {
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                color: #45515F;
               
            }
        }
        &__button {
            background: url("../img/get/get-button.png");
            display: block;
            margin:0 auto;
            margin-top: 42px;
            
        }
    
    }
}