.question {
    background: #F6F9FC;
    padding-top: 59px;
    padding-bottom: 69px;
    &__list {
        margin: 0 auto;
        margin-top: 37px;
    }
    &__item {
        padding: 21px 43px 25px 33px;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
        backdrop-filter: blur(12px);
        border-radius: 12px;
        margin-bottom: 4px;
        &.active {
           
            background: linear-gradient(268.87deg, #FFC83E -5.09%, #FF7347 51.96%);
            color: #FFFFFF;
        }
    }
    
    &__up, &__answer {
        display: none;
    }
    &__question {
        display: flex;
        align-items:center;
        justify-content:space-between;
        cursor: pointer;
    }
    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #45515F;
    }
    &__icon {
        width: 9px;
        height: 15px;
        flex-shrink: 0;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    &__answer {
        margin-top: 17px;
        &.active {
            display: flex;
            // background: linear-gradient(268.87deg, #FFC83E -5.09%, #FF7347 51.96%);
            color: #FFFFFF;
        }
       
    }
}

.active-accardion {
   
    .question__question {
        border-radius: 12px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        .question__title {
            color: #FFFFFF;  
        }
        .question__down {
            display: none;
        }
        .question__up {
            display: flex;
        }
    }
}    